<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editor</title>
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name" placeholder="Enter name">
    <br>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age" placeholder="Enter age">
    <br>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email" placeholder="Enter email">
    <br>
    <input type="submit" value="Update"/>
</form>


</body>
</html>